body {
margin: 0;
padding: 0;
font-family: 'Edu SA Beginner', cursive;  
text-align: center;
background: lightgoldenrodyellow;
}

    .cards {
      display: flex;
      flex-wrap: wrap;
      width: 519px;
      height: 50%;
      margin: auto;
      justify-content: center;
      font-size: 48px;
      cursor: pointer;
      background: lightgoldenrodyellow;
  }
  .dogcard {
    padding: 2px 2px;
    transform: rotateY(180deg);
    }
  .timer {
    font-size: 2em;
    color:forestgreen;
    padding: 5%;
  }

  img {
    display: grid;
    height: 150px;
    width: 100px;
   }

  header {
    background: lightgoldenrodyellow;
    text-align: center;
    margin-top: 0;
    color:forestgreen;
    font-size: 4vmin;
    letter-spacing: 2vmin;
  }

button {
  color:forestgreen;
  border: 1vmin;
  border-radius: 2vmin;
  font-size: 2vmin;
  margin-top: 4vmin;
  align-content: center;
}
.message {
  display: none;
  color: forestgreen;
  font-size: 18px;
  margin-top: 10px;
}