body {
  margin: 0;
  padding: 0;
  font-family: 'Edu SA Beginner', cursive;  
  text-align: center;
  background: lightgoldenrodyellow;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 80%;
  margin: auto;
  justify-content: center;
  background: lightgoldenrodyellow;
}

.dogcard {
  padding: 2px 2px;
  position: relative;
  width: 104px; 
  height: 154px; 
  perspective: 1000px; 
  transform-style: preserve-3d; 
}

.front, .back {
  backface-visibility: hidden;  
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

.dogcard.flipped .front {
  transform: rotateY(-180deg);
}

.dogcard.flipped .back {
  transform: rotateY(0deg);
}

.timer {
  font-size: 2em;
  color: forestgreen;
  padding: 5%;
}

img {
  display: grid;
  height: 150px;
  width: 100px;
}

header {
  background: lightgoldenrodyellow;
  padding:30px;
  text-align: center;
  margin-top: 0;
  color: forestgreen;
  font-size: 4vmin;
  letter-spacing: 2vmin;
}
button {
  color: forestgreen;
  border: 1vmin solid forestgreen;  
  border-radius: 2vmin;
  font-size: 2vmin;
  margin-top: 4vmin;
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;  
  bottom: 0;
  right: 50;
}


button:hover {
  background-color: forestgreen; 
  color: lightgoldenrodyellow;
}

  .winner-message {
    display: none;
    position: relative;
    color: forestgreen;
    background-color: darkblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
  }
