body {
margin: 0;
font-family: 'Edu SA Beginner', cursive;  
text-align: center;
background: lightgoldenrodyellow;
}

  .cards {
    display: flex;
    width: 10px;
    height: 10px;
    margin: auto;
    grid-template-columns:(4, 10px);
    grid-template-rows: (3, 10px);
    gap: 2px;
    align-items: center;
    justify-content: space-around;
    font-size: 48px;
    cursor: pointer;
    background: lightgoldenrodyellow;
  }
  img {
    display: grid;
    height: 100px;
    width: 100px;
   }

  header {
    background: lightgoldenrodyellow;
    text-align: center;
    margin-top: 0;
    color:forestgreen;
    font-size: 4vmin;
    letter-spacing: 2vmin;
  }

button {
  color:forestgreen;
  border: 1vmin;
  border-radius: 2vmin;
  font-size: 2vmin;
  margin-top: 4vmin;
  align-content: center;
}