}
box-sizing: border-box;
}

body {
display: flex ;
margin: 0;
font-family: 'Edu SA Beginner', cursive;  
text-align: center;
background: lightgoldenrodyellow;
}
.board {
    flex-direction: row;
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: 20px auto;
    width: 306px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    background-color:lightgoldenrodyellow;
    font-size: 48px;
    cursor: pointer;
  }
  header {
    text-align: center;
    margin-top: 10vmin;
    color:forestgreen;
    font-size: 4vmin;
    letter-spacing: 2vmin;
  }
  
button {
  color:forestgreen;
  border: 1vmin;
  border-radius: 2vmin;
  font-size: 2vmin;
  margin-top: 4vmin;
}