body {
font-family: 'Edu SA Beginner', cursive;  
text-align: center;
background: lightgoldenrodyellow;
}
.board {
    display: flex;
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    margin: 20px auto;
    width: 306px;
  }
  .card {
    display: flexbox-grid;
    grid-template-columns: repeat(4, 100px);
    align-items: center;
    justify-content: center;
    background-color:lightgoldenrodyellow;
    font-size: 48px;
    cursor: pointer;
  }
  header {
    margin-top: 30px;
    color:forestgreen;
    font: size 10vmin;;
    letter-spacing: 2vmin;
  }